@import "../../_variables";

.home {
  min-height: 100vh;
  &__cards-list {
    padding: 30px 0;
  }
  &__not-found {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    font-weight: 500;
    color: $wet-asphalt;
  }
  @media (min-width: $mw3) {
    &__cards-list {
      padding: 50px 0;
    }
  }
}