@import "../../../../variables";

.header-search {
  width: 100%;
  position: relative;
  cursor: pointer;
  &__input {
    width: 100%;
    border-radius: 11px;
    border: 2px solid $light-gray;
    background: $color-white;
    font-weight: 400;
    color: $grey-umber;
    padding: 6px 10px;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    &-dark {
      border-color: $wet-asphalt;
      background: $grey-umber;
      color: $light-gray;
    }
  }
  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    right: 15px;
    & > * {
      width: 10px;
      height: 10px;
      object-fit: cover;
    }
  }
  @media (min-width: $mw3) {
    &__input {
      padding: 12px 15px;
      font-size: 14px;
    }
    &__button {
      right: 20px;
      & > * {
        width: 17px;
        height: 17px;
        object-fit: cover;
      }
    }
  }
}