@import "../../_variables";

.header {
  padding: 12px 0;
  background: $color-white;
  box-shadow: 0 6px 21px 0 rgba(208, 208, 208, 0.52);
  &__container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__information {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  &__logo {
    cursor: pointer;
  }
  &__buttons {
    display: none;
    &-desktop {
      display: none;
    }
  }
  @media (min-width: $mw2) {
    &__buttons {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-left: 20px;
    }
  }
  @media (min-width: $mw3) {
    padding: 20px 0;
    &__buttons {
      display: none;
      &-desktop {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 30px;
      }
    }
    &__information {
      margin-left: 20px;
      gap: 13px;
    }
  }
}

.header-information {
  display: flex;
  align-items: center;
  &__profile {
    width: 20px;
    height: 20px;
  }
  &__notifications {
    display: none;
  }
  @media (min-width: $mw2) {
    &__notifications {
      display: block;
      cursor: pointer;
      width: 18px;
      height: 18px;
      & > * {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__burger {
      display: none;
    }
  }
  @media (min-width: $mw3) {
    &__notifications {
      width: 30px;
      height: 30px;
    }
    &__profile {
      width: 30px;
      height: 30px;
    }
  }
}

.header-profile {
  position: relative;
  &__dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    &.open {
      display: block;
    }
  }
  @media (min-width: $mw3) {
    &__dropdown {
      top: 45px;
    }
  }
}

.header-burger {
  &__menu {
    z-index: 5;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    &.open {
      top: 0;
    }
  }
  &__open {
    cursor: pointer;
    width: 25px;
    height: 25px;
    & > * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
