//Fonts

$font-roboto: "Roboto", sans-serif;

//Colors

$color-white: #fff;
$color-orange: #f06b31;
$color-orange-hover: #da622f;
$color-red: #ea2a2a;
$desert-sand: #eebca7;
$crayola: #db9577;
$yellow-orange: #f8aa35;
$byzantine: #b73cba;
$grey-umber: #2c2c2c;
$wet-asphalt: #5a5a5a;
$wet-asphalt-hover: #4c4c4c;
$light-gray: #d0d0d0;
$color-error: #c82a2a;

//Breakpoints

$min-width: 320px;
$mw1: 576px;
$mw2: 768px;
$mw3: 992px;
$mw4: 1200px;
