@import "../../_variables";

.button-list {
  &__button {
    margin-top: 10px;
    margin-bottom: 15px;
    min-width: 250px;
  }
  @media (min-width: $mw2) {
    &__button {
      margin-bottom: 24px;
      min-width: 350px;
    }
  }
  @media (min-width: $mw4) {
    &__button {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}